<div class="fond">
<div class="card" >
  <div class="header">
    <h2 class="title">Ajouter une ToDo </h2>
  </div>
  <form class="formulaire" action="">
    <mat-form-field class="example-full-width">
      <mat-label>Titre</mat-label>
      <input matInput placeholder="Exemple: aller courir">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type de tache</mat-label>
      <mat-select>
        <mat-option value="one">Tache</mat-option>
        <mat-option value="two">Action</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Exemple: aller courir 15 kilometres ">
    </mat-form-field>
    <div class="submit">
      <button routerLink="/home" mat-raised-button color="warn">Annuler</button>
      <button type="submit" mat-raised-button color="success">Ajouter</button>
    </div>
  </form>
</div>
</div>
