<div class="fond">
  <div class="card" >
    <div class="header">
      <h2 class="title">Login Page</h2>
    </div>
    <form class="formulaire" [formGroup]="LoginForm" (ngSubmit)="onFormSubmit()" novalidate>
      <mat-form-field appearance="fill" >
        <mat-label>Login</mat-label>
        <input required minlength="4" matInput formControlName="username" placeholder="Votre nom d'utilisateur">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input required minlength="4" matInput formControlName="password" [type]="hide ? 'password' : 'text'">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <!--    alert mauvais mot de passe-->
      <div *ngIf="error != null" class="alert alert-danger" role="alert">
        <h5 style="color: #ff1a1a; font-weight: bold" >{{error}}</h5>
      </div>
      <div class="register">
        <!--  Crée un compte-->
        <a routerLink="/register">Crée un compte</a>
      </div>
      <div class="submit">
        <button type="submit"  mat-raised-button  [disabled]="!LoginForm.valid" color="brown">Se connecter</button>
      </div>
    </form>
  </div>
</div>
