/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import "~@fortawesome/fontawesome-free/css/all.css";
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* masquer la scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}



$my-app-primary: mat-palette($mat-brown);
$my-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$my-app-theme: mat-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent
  )
));

@include angular-material-theme($my-app-theme);
